[submodule "java-utilities"]
	path = java-utilities
	url = git@github.com:SimiaCryptus/java-utilities.git
[submodule "aws-utilities"]
	path = aws-utilities
	url = git@github.com:SimiaCryptus/aws-utilities.git
[submodule "sparkbook"]
	path = sparkbook
	url = git@github.com:SimiaCryptus/sparkbook.git
[submodule "mindseye-vggart"]
	path = mindseye-vggart
	url = git@github.com:SimiaCryptus/mindseye-vggart.git
[submodule "JavaAnalysis"]
	path = JavaAnalysis
	url = git@github.com:SimiaCryptus/JavaAnalysis.git
[submodule "mindseye-java"]
	path = mindseye-java
	url = git@github.com:SimiaCryptus/mindseye-java.git
[submodule "mindseye-dataframes"]
	path = mindseye-dataframes
	url = git@github.com:SimiaCryptus/mindseye-dataframes.git
[submodule "mindseye-core"]
	path = mindseye-core
	url = git@github.com:SimiaCryptus/mindseye-core.git
[submodule "mindseye-aparapi"]
	path = mindseye-aparapi
	url = git@github.com:SimiaCryptus/mindseye-aparapi.git
[submodule "mindseye-dataframes"]
	path = mindseye-dataframes
	url = git@github.com:SimiaCryptus/mindseye-dataframes.git
[submodule "mindseye-cudnn"]
	path = mindseye-cudnn
	url = git@github.com:SimiaCryptus/mindseye-cudnn.git
[submodule "mindseye-tensorflow"]
	path = mindseye-tensorflow
	url = git@github.com:SimiaCryptus/mindseye-tensorflow.git
[submodule "mindseye-research"]
	path = mindseye-research
	url = git@github.com:SimiaCryptus/mindseye-research.git
[submodule "mindseye-test"]
	path = mindseye-test
	url = git@github.com:SimiaCryptus/mindseye-test.git
[submodule "tensorflow-model"]
	path = tensorflow-model
	url = git@github.com:SimiaCryptus/tensorflow-model.git
[submodule "mindseye-labs"]
	path = mindseye-labs
	url = git@github.com:SimiaCryptus/mindseye-labs.git
[submodule "CharacterTrie"]
	path = CharacterTrie
	url = git@github.com:SimiaCryptus/CharacterTrie.git
[submodule "hadoop-jgit-fs"]
	path = hadoop-jgit-fs
	url = git@github.com:SimiaCryptus/hadoop-jgit-fs.git
[submodule "SparkTree"]
	path = SparkTree
	url = git@github.com:SimiaCryptus/SparkTree.git
[submodule "literate-reporting"]
	path = literate-reporting
	url = git@github.com:SimiaCryptus/literate-reporting.git
[submodule "refcount-util-java"]
	path = refcount-util-java
	url = git@github.com:SimiaCryptus/refcount-util-java.git
[submodule "refcount-core"]
	path = refcount-core
	url = git@github.com:SimiaCryptus/refcount-core.git
[submodule "mindseye-art"]
	path = mindseye-art
	url = git@github.com:SimiaCryptus/mindseye-art.git
